<div class="landing">
  <div class="container">
    <div class="row">
      <div class="jumbotron front-title text-center">
        <h1>Welcome to SmoelTjeBoekje</h1>
        <h4>Cool place for nobody</h4>
        <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-large" %> 
      </div>
    </div>
  </div>
</div>